$lightBlue: #e6e6ff;

.app {
  display: flex;
  justify-content: center;
  .container {
    width: 1024px;
    .link {
      text-decoration: none;
      color: inherit;
    }
    //LOGIN & REGISTER
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightBlue;

      h1 {
        font-size: 20px;
        color: #4d4dff;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 40px;
        background-color: white;
        width: 250px;
        gap: 20px;
      }

      input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid gray;
      }

      button {
        padding: 10px;
        border: none;
        background-color: #4d4dff;
        cursor: pointer;
        color: white;
      }

      p {
        color: red;
        font-size: 13px;
        text-align: center;
      }

      span {
        font-size: 13px;
        text-align: center;
      }
    }
  }

  //NAVBAR
  .navbar {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;
      .logo {
        img {
          width: 50px;
        }
      }
      .links {
        display: flex;
        align-items: center;
        gap: 10px;

        h6 {
          font-size: 16px;
          font-weight: 300;
        }

        span {
          cursor: pointer;
        }

        .write {
          background-color: #b3b3ff;
          width: 50px;
          height: 50px;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: #9999ff;
          }
        }
      }
    }
  }

  //FOOTER
  footer {
    margin-top: 100px;
    padding: 20px;
    background-color: $lightBlue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    img {
      height: 50px;
    }
  }

  //HOME
  .home {
    .posts {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 150px;
    }

    .post {
      display: flex;
      gap: 100px;

      &:nth-child(2n + 1) {
        flex-direction: row-reverse;
      }

      .img {
        flex: 2;
        position: relative;

        &::after {
          content: '';
          width: 100%;
          height: 100%;
          background-color: $lightBlue;
          position: absolute;
          top: 20px;
          left: -20px;
          z-index: -1;
        }

        img {
          width: 100%;
          max-height: 400px;
          object-fit: cover;
        }
      }

      .content {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
          font-size: 48px;
        }

        p {
          font-size: 18px;
        }

        button {
          width: max-content;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          border: 1px solid #9999ff;
          background-color: white;
          &:hover {
            border: 1px solid white;
            background-color: #9999ff;
          }
        }
      }
    }
  }
}
